.mainBody {
    margin: 0 10vw;
    font-size: 1.5vw;
    text-align: center;
}


.mainTitle {
    width: 100%;
}

.mainTitle h1 {
    text-align: center;
    margin: 5vw 0 2vw 0; 
    font-size: 2vw;
}

.mainTitleBackgroundDummy {

}

.mainTitleBackgroundDummy svg {
    z-index: -1;
    margin: 0;
    padding: 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
}


.mainTitleBackground {
    width: 100vw;
    height: 100%;
}

.mainTitleBackground svg {
    z-index: -1;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
}

.mainTitle {
    margin: 0;
    padding: 0;
}

.mainMapDescription {
    margin: 15vw 0 4vw 0;
}

.mainIncident {
    margin: 0 0vw;
}

.mainReportList {
    text-align: center;
}

.mainReportList table {
    width: 30vw;
    background-color: #E7E7E7
}

.mainReportList table th {
    padding: 0.5vw;
    background-color: #C3C3C3;
}

